# Dependencies
node_modules/

# Environment Variables
.env
.env.local

# Database file (uncomment if you don't want local test data tracked)
# database.sqlite

# Logs
*.log
npm-debug.log*

# OS Files
.DS_Store
Thumbs.db
